@model IEnumerable<AdventureWorks.Services.HumanResources.Department>

@{
    ViewBag.Title = "Departments";
}

@section scripts
 {
    <script type="text/javascript">
        appInsights.trackPageView({ name: 'Departments (JS)' }); 
    </script>
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>@Html.DisplayNameFor(model => model.GroupName)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.ActionLink("View employees", "Employees", 
                    new { id = item.Id }, 
                    new { onclick = "appInsights.trackPageView({ name: 'User clicked department link' });" }
                )
            </td>
        </tr>
    }

</table>
